body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
    height: 75px;
    width: 70%;
    border-radius: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0px 13px 21px -6px #393939, inset 0 5px 13px 0 white;
}


nav span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    position: relative;
    width: 100px;
    align-items: center;
}

.underline {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    top: 55px;
    display: none;
}

nav span a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}

nav span:hover {
    .underline {
        animation: underline-appear 0.1s linear forwards;
        display: block;
    }
}

@keyframes underline-appear {
    0% {
        width: 0%;
        left: 50px;
    }

    100% {
        width: 100%;
        left: 0px;
    }
}